.selectSeat{
    border: 2px solid black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}    
.seatLegend{
    padding-left:2% ;
    
}
.seatLegend ul li {
    text-align: left;
    list-style: none;
    padding-bottom: 2%;
}
.seatLegend button{
    background-color: orange;
    border-radius: 14px;
    width: 45%;
    text-align: center;
    font-size: 125%;
}
.add:hover{
    background-color: rgb(67, 196, 16);
}
.minus:hover{
    background-color: rgb(241, 89, 63);
}
td {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  text-align: center;
}
th{
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
    padding-bottom: 2%;
}
h1{
    text-align: center;
    padding-bottom: 2%;
}
h4{
    text-align: center;
}
h1,h4{
    font-family: 'Oswald', sans-serif;
}