table{
    border: 2px solid black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}    
td {
  padding: 15px;
  text-align: center;
}
th{
    text-align: center;
    padding-left: 50%;
}
h1{
    text-align: center;
}