/* Modify the background color */ 
.navbar-b{
    overflow: hidden;
    background-color: orange;
    position: fixed; /* get rid of this once you have something between navbar and footer*/
    bottom: 0;
    width: 100%;
    text-align: Center;
    font-size: 10pt;
    color:white;
}

.navbar-custom { 
    background-color: orange; 
} 
/* Modify brand and text color */ 
  
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: White; 
    font-size: 20pt;
    padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
} 
a:hover {
    background-color: rgb(81, 185, 255);
    color:rgb(81, 185, 255);
    border-radius: 10px;
    
}

h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 30pt;
}

  #prev {
    cursor: pointer;
    padding: 16px;
    color: orange;
    font-weight: bold;
    font-size: 100pt;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  #next {
    cursor: pointer;
    padding: 16px;
    color: orange;
    font-weight: bold;
    font-size: 100pt;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }