.row:after
            {
                border: 5px solid black;
                content:"";
                clear: both;
                display: table;
            }


.column
            {
                border-left: 5pt solid black;
                border-top: 5pt solid black;
                border-bottom: 5pt solid black;
                float: left;
                width: 33.3%;
                padding: 2px;
                
            }
.column2
            {
                border-right: 5pt solid black;
                border-bottom: 5pt solid black;
                border-top: 5pt solid black;
                float: left;
                width: 66.6%;
                padding: 2px;
                
            }
.imageSize
           {    
                
                margin-left: 5%;
                align-content: center;
                width: 600px;
                height: 600px;
                border-image: 25px; 
            }
.playButton
            {
                width: 40px;
                height: 45px;
            }
.upcoming-p {
                font-size: 20pt; 
            }
#lClicks      {
                margin-left:200px;

            }
#dClicks      {
                margin-left:0px;

            }
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}